:root {

    --color-primary         : #fafafa;
    --color-primaryDark     : #c7c7c7;
    --color-primaryDark-alt : #e0e0e0;
    --color-primaryLight    : #ffffff;
    --color-primaryText     : #212121;
    --color-secondary       : #2196f3;
    --color-secondaryDark   : #0069c0;
    --color-secondaryLight  : #6ec6ff;
    --color-secondaryText   : #fafafa;

    --theme-color-active: var(--color-secondaryDark);

    --theme-color-background : var(--color-primary);
    --theme-color-foreground : var(--color-primaryText);
    --theme-color-background-highlight : var(--color-primaryDark-alt);

    --theme-color-background-active: var(--color-secondaryDark);
    --theme-color-foreground-active: var(--color-secondaryText);

    --theme-color-divider    : var(--color-primaryText);

    --dimen-margin     : 16px;
    --dimen-margin-max : 32px;
    --dimen-margin-mid : 8px;
    --dimen-margin-min : 4px;

    --dimen-padding     : 16px;
    --dimen-padding-max : 32px;
    --dimen-padding-mid : 8px;
    --dimen-padding-min : 4px;


    --theme-dimen-width-main : 1000px;
    --theme-dimen-width-projects : 300px;
    --theme-dimen-height-detail-contact : 32px;
    --theme-dimen-height-clickable : 32px;
    --theme-dimen-height-footer : 48px;
    --theme-dimen-height-tooltip : 48px;

    --theme-dimen-padding-section : var(--dimen-margin-max);

    --theme-dimen-bottom-navigation: 84px;
    --theme-dimen-right-navigation: 32px;

    --theme-dimen-margin-refrences: 10%;
    --theme-dimen-margin-main: 64px;
    --theme-dimen-margin-projects: 64px;

    --theme-dimen-size-fab   : 48px;
    --theme-dimen-size-image : 210px;
    --theme-dimen-size-icon       : 24px;
    --theme-dimen-size-icon-large : 32px;
    --theme-dimen-size-icon-small : 18px;

    --theme-dimen-radius-default: 4px;
}

body {
    width: 100vw;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--theme-color-background);
    color: var(--theme-color-foreground);
    @include  typeface_body1();
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

span {
    display: inline-block;
}

main {
    width: var(--theme-dimen-width-main);
    margin: var(--theme-dimen-margin-main) auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

ul {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

li {
    list-style: none;
}

li + li {
    margin-top: var(--dimen-margin);
}

table + table {
    margin-left: var(--dimen-margin-max)
}

th, h6{
    @include typeface_headline6;
    font-weight:600;
    padding-bottom: var(--dimen-margin-mid);
    text-align: left;
}

h4 {
    @include typeface_headline4;
}

h6 {
    margin-block-end: 0;
    margin-block-start: 0;
    display: inline-block;
}

section {
    padding: var(--dimen-padding) var(--dimen-padding-max);
}

.section-header {
    margin: var(--dimen-margin-max) 0;
}

.header {
    display: flex;
    height: fit-content;
}

.header .details {
    flex-grow: 1;
    height: var(--theme-dimen-size-image);
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 18px;
}

.profile .section-header {
    margin-bottom: var(--dimen-margin);
}

.profile-name {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.profile-name .title {
    display: block;
}

.profile-name .name {
    font-size: 40px;
}

.profile-contact {
    display: flex;
    justify-content: flex-end;

    height: 24px;
    line-height: 24px;

    padding: var(--dimen-padding-min) 0;
    padding-left: var(--dimen-padding-max);
    @include typeface_body1;
}

.profile-contact i {
    width: var(--theme-dimen-icon-size);
    height: var(--theme-dimen-icon-size);
    margin-left: var(--dimen-margin-mid);
}

.divider {
    width: 2px;
    margin: 0 var(--dimen-margin-mid);
    margin-left: 25px;
    background-color: var(--theme-color-divider);
    flex-shrink: 0;
}

.image {
    width: var(--theme-dimen-size-image);
    height: var(--theme-dimen-size-image);
    flex-grow: 1;
    order: -1;
}

.image img {
    clip-path: ellipse(108px 108px at 54% 45%);
    margin-left: -12px;
    margin-top: 8px;
}

.engagement {
    margin: var(--dimen-margin-max);
}

.engagement .date {
    padding: 0 2ch;
}

.engagement .title {
    @include typeface_headline6;
    font-weight: 600;
}

.skill , .contributions {
    padding-bottom: 8px;
    margin-left: var(--dimen-margin-max)
}

.skill {
    display: flex;
}

.skill i {
    font-size: var(--theme-dimen-size-icon-large);
}

.language, .framework {
    padding: var(--dimen-padding-min) var(--dimen-padding);
}

.level {
    height: 12px;
    margin-left: 16px;
    margin-top: 6px;
    width:200px;

    border-radius: var(--theme-dimen-radius-default);
    border: 2px solid var(--theme-color-foreground);
    position: relative;
}

.level::before {
    content: '';
    height: 12px;
    display: inline-block;
    background-color: var(--theme-color-foreground);
    position: absolute;
    top: 0;
    left: 0;
}

td:hover .level::after {
    display: block;
}

.level::after {
    display: none;
    position: absolute;
    background-color: var(--theme-color-background-highlight);
    width: 12ch;
    text-align: center;
    height: var(--theme-dimen-height-tooltip);
    line-height: var(--theme-dimen-height-tooltip);
    top: 16px;
    right: 0;
    border-radius: var(--theme-dimen-radius-default);
    z-index: 2;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.contributions {
    display: flex;
    margin-top: var(--dimen-margin-max);
}

.projects {
    width: var(--theme-dimen-width-projects);
    max-width: var(--theme-dimen-width-projects);
}

.projects + .projects {
    margin-left: var(--theme-dimen-margin-projects);
}

.contribution {
    display: flex;
    height: var(--theme-dimen-height-clickable);
    line-height: var(--theme-dimen-height-clickable);

    padding: var(--dimen-padding-mid) var(--dimen-padding);
    border-radius: var(--theme-dimen-radius-default);
    border: 1px solid transparent;
}

.contribution a {
    margin-right: 12px;
    flex-grow: 1;
}

.contribution i {
    flex-shrink: 0;
    color: var(--theme-color-active)
}

.social {
    margin-left: var(--dimen-margin-max);
    margin-top: var(--dimen-margin-max);
}

.social h6 {
    display: block;
}

.social i {
    margin-right: var(--dimen-margin-mid);
    font-size: var(--theme-dimen-size-icon);
    color: var(--theme-color-active);
}

.social a {
    height: var(--theme-dimen-height-clickable);
    line-height: var(--theme-dimen-height-clickable);
    padding: var(--dimen-padding-mid) var(--dimen-padding);
    margin-right: var(--dimen-margin);
    border-radius: var(--theme-dimen-radius-default);
    border: 1px solid transparent;
}

.social a:hover, .contribution:hover {
    cursor: pointer;
    background-color: var(--theme-color-background-highlight);
}

.refrences {
    margin-bottom: var(--theme-dimen-margin-refrences)
}

.contacts {
    display: flex;
    margin: var(--dimen-margin-max);
}

.contact {
    margin-right: var(--dimen-margin-max);
}

.contact span {
    display: block;
    text-align: left;
    height: var(--theme-dimen-height-clickable);
    line-height: var(--theme-dimen-height-clickable);
}

.contact div {
    height: var(--theme-dimen-height-clickable);
    line-height: var(--theme-dimen-height-clickable);
    display: flex;
}

.contact .name {
    @include typeface_headline6;
}

.contact .title {
    @include typeface_subtitle1;
}

.contact i {
    margin-right: 8px;
}

.navigation {
    position: fixed;
    right: var(--theme-dimen-right-navigation);
    bottom: var(--theme-dimen-bottom-navigation);
}

.navigation li {
    width: 100px;
    height: var(--theme-dimen-height-clickable);
    line-height: var(--theme-dimen-height-clickable);
    padding: var(--dimen-padding-min) var(--dimen-padding-mid);
    margin: var(--dimen-margin-mid);
    border-top-left-radius: var(--theme-dimen-radius-default);
    border-bottom-left-radius: var(--theme-dimen-radius-default);
    border: 1px solid transparent;
}

.navigation .active{
    border-right: 2px solid var(--theme-color-background-active)
}

.navigation a {
    height: var(--theme-dimen-height-clickable);
    line-height: var(--theme-dimen-height-clickable);
}

.navigation .active a {
    color: var(--theme-color-background-active);
    font-weight: 600;
}

.active:hover a, .navigation li:hover {
    cursor: pointer;
    color: var(--theme-color-foreground-active);
    background-color: var(--theme-color-background-active);
}

.footer {
    display: flex;
    @include typeface_caption;

    height: var(--theme-dimen-height-footer);
    line-height: var(--theme-dimen-height-footer);
    text-align:center;
    margin-bottom: var(--dimen-margin-max);
    justify-content: center;
}

.footer i {
    font-size: inherit;
    padding: 0 var(--dimen-padding-min);
}

@media print {

    .navigation, .footer , .open-source i {
        display: none;
        visibility: invisible;
    }

    .social {
        color: var(--theme-color-foreground);
    }

}

@media screen and (max-width: 767px){
    .navigation {
        display: none;
    }
}

/* Skill levels { */
.l-10::before {
    width: 10%;
}

.l-20::before {
    width: 20%;
}

.l-30::before {
    width: 30%;
}

.l-40::before {
    width: 40%;
}

.l-50::before {
    width: 50%;
}

.l-60::before {
    width: 60%;
}

.l-70::before {
    width: 70%;
}

.l-80::before {
    width: 80%;
}

.l-90::before {
    width: 90%;
}

.l-100::before {
    width: 100%;
}
.l-10::after {
    content: "Poor";
}

.l-20::after {
    content: "Poor";
}

.l-30::after {
    content: "Fair";
}

.l-40::after {
    content: "Fair";
}

.l-50::after {
    content: "Average";
}

.l-60::after {
    content: "Average";
}

.l-70::after {
    content: "Good";
}

.l-80::after {
    content: "Good";
}

.l-90::after {
    content: "Excellent";
}

.l-100::after {
    content: "Excellent";
}
/* } */

/* vim:set filetype=css */
